.about__header {
    background-color: white;
}

.about__content {
    padding: 6rem;
    background-color: whitesmoke;
    color: rgba(0, 0, 0, .5);
}

.about__content p {
    margin: 0;
}

.about__content p:first-child {
    margin-bottom: 2rem;
}